*/bin/*
*/target/*
*/log/*
*/logs/*
*/WebRoot/WEB-INF/classes/*
*/Debug/*
*/ReleaseUMinDependency/*
*/*.ncb
*/*.opt
~*.*
*/*/log/*
*/.settings/*.prefs
*/jar/*
*.project
*.classpath
*/*/.settings
*/.settings
*.class
*/*/target
*/target
*/*/bin
*/*/logs