.gridTable {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

/** grid body */
.gridBody {
	border-right: 1px solid silver;
	border-top: 1px solid silver;
}
.gridBody th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg);
}
.gridBody th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}
.gridBody td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	color: black;
}
.gridBody td.alt {
	background: #F5FAFA;
	color: black;
}

.gridBody .odd td:first-child {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.gridBody .even td:first-child {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
}

/** grid header sort */
.gridBody th.sort,.tablelist th.sort {
}
.gridBody th.sort.desc,.tablelist th.sort.desc{
	background:#c5c5c5 url(images/sort_desc.gif) center right no-repeat
}
.gridBody th.sort.asc,.tablelist th.sort.asc{
	background:#c5c5c5 url(images/sort_asc.gif) center right no-repeat
}

/** mouse hove over sort header */
.gridBody .tableHeaderSortHover,.tablelist .tableHeaderSortHover{
	background-color: #f5f5f5 !important;
	text-decoration: underline;
	cursor: pointer;
}

/** gridBody row colors */
.gridBody .odd {
	background-color: #FFFFFF;
}
.gridBody .even {
	/*background-color: #F8F8F8;*/
	background-color: #F5FAFA;;
	color: #797268;
}
.gridBody .highlight,.tablelist .hightlight {
	background-color: #fdeccf !important;
}

/** grid toolbar */
.gridToolbar .leftControls {
	font-weight:bold;
	font-size:18px
}
.gridToolbar .paginationControls .buttonLabel{
	margin:0 0 0 12px
}
.gridToolbar .box div {
	display:inline;
	float:left;
}
.gridToolbar .box .paginationControls {
	float:right;
}
.gridToolbar td{
	background-color: #F4F4F4;
}

.gridBody .odd a, .even a {
	font-size: 12px;
	color: 005C9C !important;
}