body {
	margin: 0 auto;
	width: 100%;
}
.main {
	margin: 0 auto;
}
/*定义一些颜色，以便看到各模块的位置*/
.ph-30 {
	min-height: 30px;
} /*用于占位*/
.ph-500 {
	min-height: 500px;
} /*用于占位*/
.ph-400 {
	min-height: 400px;
} /*用于占位*/
.ph-300 {
	min-height: 300px;
} /*用于占位*/
.ph-50 {
	min-height: 50px;
} /*用于占位*/
.ph-100 {
	min-height: 100px;
} /*用于占位*/
.ph-200 {
	min-height: 200px;
} /*用于占位*/
.mg {
	margin: 5px;
} /*增加边距*/
.active {
	background: rgb(66, 184, 221); /* 这是浅蓝色 */
}

.pure-table {
	text-align: center;
}

.pure-table thead {
	text-align: center;
}

.green,.red,.blue,.pure-button-save
{
	font-family: inherit;
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
	font-weight: normal;
	border-radius: 4px;
}

.green {
	background: rgb(124, 204, 79); /* 这是绿色 */
}

.red {
	background: rgb(217, 83, 79); /* 这是褐红色 */
}
.blue {
	background: rgb(91, 192, 222); /* 这是浅蓝色 */
}
/* .pure-button-save {
	background: rgb(0, 120, 231); 这是蓝色
} */
.pure-button-save {
	background: rgb(66, 139, 202); 
}
.yellow {
	background: #FFD700;
	border-radius: 4px;
}
.download{
	background: #32CD32; /* 这是绿色 */
}
.resultbox {
	width: 300px;
	height: 280px;
	background: none repeat scroll 0 0 #fff;
	display:none;
	z-index: 10000;
	position: absolute;
	top: 45px;
}
.resultbox select option {
	color: #05a;
}

.data_table {
	width: 100%;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.data_table th,td {
	padding: 8px 10px 8px;
	text-align: center;
}

.data_table th {
	padding-top: 22px;
	text-shadow: 1px 1px 1px #fff;
	background: #e8eaeb;
}

.data_table td {
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

.data_table tr.odd-row td {
	background: #f6f6f6;
}

.data_table td.first,th.first {
	text-align: left
}

.data_table td.last {
	border-right: none;
}

.data_table td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9),
		to(#fefefe));
}

.data_table tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1),
		to(#f6f6f6));
}

.data_table th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed),
		to(#e8eaeb));
}

.data_table tr:first-child th.first {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px; /* Saf3-4 */
}

.data_table tr:first-child th.last {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px; /* Saf3-4 */
}

.data_table tr:last-child td.first {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px; /* Saf3-4 */
}

.data_table tr:last-child td.last {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px; /* Saf3-4 */
}


